@import '~antd/dist/antd.css';

.App{
  min-height: 100vh;
}

.ant-form-item{
  max-width: 640px;
}

.ant-input-number{
  max-width: 300px;
  width: 100%;
}

.ant-upload-list-item-image{
  object-fit: contain;
}